body {
    background-color: #DC143C;
}
#flex {
    display: flex;
    flex-direction: row;
}

nav {
    background-color: #FF8C00;
}
main {
    background-color: #228B22
}
h1 {
    color: blue;
}
ul {
    color: brown;
}